importFrom("stats", "integrate", "uniroot", "median",  "qnorm" )
importFrom("bayesmeta", "bayesmeta",  "dhalfcauchy", "rhalfnormal")
importFrom("stats", "quantile", "sd", "update")
importFrom(rjags, "jags.model", "adapt", "coda.samples", "list.modules",
           "load.module","unload.module")
importFrom(coda, "as.mcmc.list", "thin", "mcmc", "as.mcmc")

export(BC_normal_m1m0)
export(BC_normal_sd1sd0)
export(BC_normal_total)
export(d2BC)
export(d2BC_S_I_HC_raw)
export(d2BC_S_I_HN_raw)
export(descr_extract)
export(h2Nmuh1N01)
export(h_choice_all)
export(HC_A0_2_Al_Au)
export(HN_A0_2_Al_Au)
export(median_rlmc)
export(Nmuh1N012h)
export(pri_par_adjust_HC)
export(pri_par_adjust_HN)
export(raw_estimates_HC)
export(raw_estimates_HN)
export(rlmc_scaling_low)
export(rlmc_scaling_up)
export(sigma_ref)
export(descr_extract_JAGS)
export(jags_fit_NNHM_HN)
export(jags_fit_NNHM_HC)
export(raw_estimates_HN_NNHM_JAGS)
export(raw_estimates_HC_NNHM_JAGS)
export(d2BC_S_I_HN_raw_NNHM_JAGS)
export(d2BC_S_I_HC_raw_NNHM_JAGS)
export(jags_fit_NtHM_HN)
export(jags_fit_NtHM_HC)
export(raw_estimates_HN_NtHM_JAGS)
export(raw_estimates_HC_NtHM_JAGS)
export(d2BC_S_I_HN_raw_NtHM_JAGS)
export(d2BC_S_I_HC_raw_NtHM_JAGS)